﻿@model ToDoMVC.Models.Title
@{
    ViewBag.Title = "Редактирование Заголовка";
}

<form asp-action="create" asp-controller="titles" class="form-group">
    <label for="name">Заголовок</label>
    <input type="text" name="Name" value="" class="form-control" />
    <input type="hidden" name="UserId" value="@ViewData["id"]" class="form-control" />
    <button class="btn btn-warning pull-right">Создать</button>
</form>