﻿@model ToDoMVC.Models.Title
@{
    ViewBag.Title = "Редактирование Названия";
}

    <form asp-action="edit" asp-controller="titles" asp-route-id="@Model.Id" class="form-group">
        <label for="name">Название</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
        @*<input type="hidden" name="UserId" value="1" class="form-control" />*@
        <button class="btn btn-warning ">Изменить</button>
    </form>

