﻿@model ToDoMVC.ViewModels.LoginModel

<h2>Вход на сайт</h2>


<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation alert alert-danger" asp-validation-summary="ModelOnly"></div>

    <div class="panel-body">

        <div class="form-group">
            <label class="col-md-4 control-label" asp-for="Email">Введите Email</label>
            <div class="col-md-6">
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" asp-for="Password">Введите пароль</label>
            <div class="col-md-6">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-link" asp-action="Register" asp-controller="Account">Регистрация</a>
        </div>

    </div>
</form>