﻿@model IEnumerable<ToDoMVC.Models.Title>

<div class="container">

    <h1>To-do</h1>
    <ul class="list-group">
        @foreach (var title in Model)
        {
            <li class="list-group-item d-flex justify-content-between">
                <h3>@title.Name <small>@title.User.Name</small> </h3>

                <div class="btn-group ">
                    @Html.ActionLink("Edit", "Edit", "Titles", new { id = title.Id }, new { @class = "btn btn-outline-info " })
                    @Html.ActionLink("Delete", "Delete", "Titles", new { id = title.Id }, new { onclick = "return confirm('Вы уверены?')", @class = "btn btn-danger" })
                </div>
            </li>
            @foreach (var task in title.Tasks)
            {
                <li class="list-group-item d-flex justify-content-between @( task.Done ? "list-group-item-success" : "list-group-item-primary" ) ">
                    <h6>@task.Name</h6>
                    <div class="btn-group ">
                        @Html.ActionLink("Mark", "ToggleStatus", "Tasks", new { id = task.Id }, new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Edit", "Edit", "Tasks", new { id = task.Id }, new { @class = "btn btn-outline-info " })
                        @Html.ActionLink("Delete", "Delete", "Tasks", new { id = task.Id }, new { onclick = "return confirm('Вы уверены?')", @class = "btn btn-danger" })

                    </div>
                </li>
            }

            <form asp-action="create" asp-controller="tasks" class="form-group">
                <input type="text" name="Name" class="form-control" placeholder="Введите Заметку" />
                <input type="hidden" name="TitleId" value="@title.Id">
                <button type="submit" class="btn btn-primary">Добавить </button>
            </form>
        }
    </ul>
    @Html.ActionLink("Создать новый список", "Create", "Titles", new { }, new { @class = "btn btn-success btn-lg btn-block" })
</div>
