﻿@model ToDoMVC.Models.Task
@{
    ViewBag.Title = "Редактирование задания";
}

    <form asp-action="edit" asp-controller="tasks" asp-route-id="@Model.Id" class="form-group">
        <label for="name">Задача</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />        
        <button class="btn btn-warning ">Изменить</button>
    </form>

